.toggle-btn:focus{
    box-shadow: none;
}
.toggle-btn{
    border: none;
}
.components-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.components-div p{
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    .components-div{
        flex-direction: row;
        margin-right: 1.5rem;
    }
    .components-div p{
        margin-top: 6px;
    }
}